/* ------ svgアニメーション ------ */


.svg-wrap svg .st0,
.svg-wrap svg .st1 {
  stroke-dasharray: 1000px;
  stroke: #fff;
  stroke-width: 1px;
  animation: svgAnime1 3.0s linear forwards;
}
.svg-wrap svg .st1 {
  animation: svgAnime2 3.0s linear forwards;
}

@keyframes svgAnime1 {
  0% {
    stroke-dashoffset: 1000px;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0px;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0px;
    stroke: transparent;
    fill: rgb(255, 180, 0);
  }
}
@keyframes svgAnime2 {
  0% {
    stroke-dashoffset: 1000px;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0px;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0px;
    stroke: transparent;
    fill: #787878;
  }
}


.loading_wrapper {
  z-index: 10;
  position: fixed;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  transition: opacity 0.3s;
}
.loading_wrapper.loaded {
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.loading_icon {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
